
<div class="row">
<div class="col-xs-12 m-b-3">
  <div id="upload-form-panel" class="panel panel-default text-white">
    <div class="panel-body">
      <h2><span style="font-size:1.0em;" class="glyphicon glyphicon-cloud-upload"></span> File Upload</h2>
      <h4>Internship Learning Agreement Form Upload</h4>
      <form method="POST" action="/submit-agreement" class="m-y-3">
        <div class="form-group m-y-2">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Full name"><br>
        </div>
        <div class="form-group m-y-2">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Email"><br>
        </div>
        <p>Please name your PDF file as follows: <strong style="color:red;">'firstname_lastname_agreement.pdf'</strong></p>
        <input id="upload-input" type="file" name="upload" multiple="multiple"><br>
        <div class="progress m-y-2">
          <div class="progress-bar" role="progressbar"></div>
        </div>
        <input id="submit-form-btn" type="submit" class="btn btn-primary disabled" value="Upload File">
        <a href="/" class="btn btn-primary" style="float:right;">Back to Home</a>
      </form>
    </div>
  </div>
</div>
</div>
<script>
$('#upload-input').on('change', function(){
  document.getElementById('submit-form-btn').value = "Loading...";
  setTimeout(function(){
    $('#submit-form-btn').removeClass("disabled");
    document.getElementById('submit-form-btn').value = "Upload File";
  }, 1500);
});

$('#submit-form-btn').on('click', function(event){
  // event.preventDefault();
  const files = document.getElementById('upload-input').files;
  const file = files[0];
  if(file == null){
    return alert('No file selected.');
  }
  getSignedRequest(file);
});
</script>
