<div id="home-header" class="jumbotron hero">
  <div class="container text-center text-white">
    <h1 class="p-t-3">{{title}}</h1>
    <h3 class="p-t-2">You may download the complete the form on your own, or complete and submit the form online.</h3>
    <div class="row p-t-2">
      <div class="col-md-3 col-sm-12 col-xs-12"></div>
      <div class="col-md-3 col-sm-6 col-xs-12 p-t-3">
          <a href="/download">
            <button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download the form</button>
          </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 p-t-3">
        <a href="/online">
          <button class="btn btn-lg btn-primary">Upload Your Agreement</button>
        </a>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12"></div>
    </div>
  </div>
</div>
